body {
    width: 100vw;
    height: 100vh;
    background-color: {body_color};
    overflow: hidden;
}

#root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    right: -30px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
}

#canvas-wrap {
    border-radius: 10px;
    border: {main_color} solid 1px;
}

#canvas {
    width: 0;
    height: 0;
    margin: 20px;
}

#controller {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.controller-item {
    width: 140px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: {main_color};
    border-radius: 20px;
    border: {main_color} solid 1px;
    margin: 0 10px;
}

#canvas-info-list {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    border-radius: 10px;
    border: {main_color} solid 1px;
}

.canvas-info-list-item {
    font-size: 14px;
    color: {main_color};
    line-height: 2;
    list-style-type: none;
    margin: 0 15px
}