body {
    background-color: {body_color};
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

#canvas {
    padding: 10px 10px;
    border-radius: 10px;
    border: #3498DB solid 1px;
    width: {lottie_width}px;
    height: {lottie_height}px;
}

#controller {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.controller-item {
    width: 140px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #3498DB;
    border-radius: 20px;
    border: #3498DB solid 1px;
    margin: 0 10px;
}